* {
    box-sizing: border-box;
}

.calc-frame {
    position: absolute;
    width: 400px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: brown;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-items: center;
}
.display {
    width: 350px;
    height: 110px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
}

.btn-pad {
    border: 1px solid black;
    width: 350px;
    height: 430px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    font-size: 18px;
}
.btn {
    font-size: inherit;
}
.clear-btn {
    grid-column: 1/3;
    font-size: inherit;
}
.delete-btn {
    grid-column: 3/5;
    font-size: inherit;
}

p {
    width: 95%;
    text-align: end;
}
.opbtn {
    font-size: inherit;
}